
@{
    ViewBag.Title = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<@model CovidProject.Models.MaterialUsage  
  
<div class="row">  
    <div class="col-md-12">  
        <h2>Azure Tables</h2>  
        <table class="table table-striped">  
        <thead>  
            <tr>  
                <th>Device Id</th>  
                <th>Furnace Name</th>  
                <th>Material Name</th>  
                <th>Weight</th>  
                <th>Time</th>  
            </tr>  
        </thead>  
        <tbody>  
            @if (Model.Value != null)  
            {  
                foreach (var item in Model.Value)
                {  
                    <tr>  
                        <td>@item.deviceId</td>  
                        <td>@item.furnace</td>  
                        <td>@item.material</td>  
                        <td>@item.weight</td>  
                        <td>@item.Timestamp</td>  
                    </tr>  
                }  
            }  
            else  
            {  
                <tr>  
                    <td>No Data</td>  
                </tr>  
            }  
        </tbody>  
        </table>       
    </div>    
</div>  